.container {
  composes: Grid-cell u-textCenter from global;
  background-color: #01BEE8;
  color: #fff;
  font-size: 14px;
  padding: 10px 21px;
}

.badge {
  width: 100%;
  padding: 0 !important;
  margin-bottom: 0px !important;
}

.icons {
  composes: u-textCenter from global;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 25px;
}

@media (max-width: 1024px) {
  .container {
    padding: 10px 0;
  }
}

@media (min-width: 1025px) and (max-width: 1200px ) {
  .tabs {
    font-size: 12px !important;
  }
}
