.notificacao {
  background-color: #20bee6;
  width: 100%;
  height: 408px;
  /*overflow: hidden;*/
  padding: 0 10px;
}
/*
.notificacao:hover {
  overflow: auto;
}*/

.tabela {
  padding: 10px 0;
  width: 100%;
  /*height: 100%;*/
  border-collapse: collapse;
  display: block;
}

.line {
  /*padding: 10px;*/
  color: #fff;
  border-bottom: 1px solid #A4DCF2;
  text-align: left;
}

.line td {
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
}

.line:first-child {
  border-top: none;
}
.line:last-child {
  border-bottom: none;
  padding: 0 10px;
}

.icon {
  /* padding: 15px 20px; */
  padding: 0 20px 7px;
  /*font-size: 28px;*/
  vertical-align: top;
}

.noNotification {
  composes: Grid-cell from global;
  font-size: 25px;
  margin-top: 10%;
  width: 100%;
  text-align: center;
}
