.formBg {
  padding: 30px;
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  width: 600px;
  background-color: #FFF;
  height: 100%;
  margin: 0px auto 30px auto;
  box-sizing: border-box;
  color: #484848;
  display: inline-block;
  border-radius: 10px;
}

.title {
  color: #484848;
}

.color {
  color: #000 !important;
}

.button {
  color: rgb(0, 190, 231) !important;
}
