.formBg {
  max-width: 820px;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.containerRadios {
  composes: Grid Grid--withGutter from global;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  flex-flow: inherit;
}

.avatarStep div:nth-of-type(1) {
  margin: 0 auto 40px;
}

.formBg h1, h2 {
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 3.5%;
}

.formBg h2 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 90px;
}

.labelText {
  font-size: 18px;
  color: #FFF;
}

.labelSelect {
  font-size: 18px;
  color: #FFF;
  margin-top: 10px;
  margin-bottom: -13px;
}

.labelNote {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 35px;
}

.selectField {
  margin-bottom: 45px;
}

.selectFieldSchooling {
  margin-bottom: 90px;
}

.radioButton {
  margin-bottom: 20px;
}

.icon {
  transform: rotate(90deg);
  /*width: 35px;
  height: 28px;*/
  font-size: 28px;
  vertical-align: bottom;
  margin-right: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  min-height: 46px;
}

.btnBack {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.rightAnimation {
  -webkit-animation: rightAnim 3.5s forwards;
  animation: rightAnim 3.5s forwards;
  padding: 0 0 0 30px;
  flex: 1 0 auto;
}

.leftAnimation {
  -webkit-animation: leftAnim 3.5s forwards;
  animation: leftAnim 3.5s forwards;
  padding: 0 0 0 30px;
  flex: 1 0 auto;
}

@-webkit-keyframes rightAnim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20.28% {
    transform: translateX(0);
    opacity: 1;
  }
  85.71% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightAnim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20.28% {
    transform: translateX(0);
    opacity: 1;
  }
  85.71% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes leftAnim {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20.28% {
    transform: translateX(0);
    opacity: 1;
  }
  85.71% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftAnim {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  14.28% {
    transform: translateX(0);
    opacity: 1;
  }
  85.71% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
