.card {
  background-color: #FFF;
  box-sizing: border-box;
  color: #484848;
  width: 100%;
  display: inline-block;
  padding: 15px 38px 0;
}

.card:hover {
  background-color: #F8F8F8;
}

.info {
  display: inline-block;
}

.info > p#name {
  font-size: 1.25em;
}

.edit {
  float: right;
  display: block;
}

.edit > .link {
  color: #01BEE8;
  float: right;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;
}

.info > p#address {
  padding-bottom: 15px;
}
