.root {
  width: 100%;
  padding: 30px 20px 12px;
  background-color: #F9F9F9;
  margin-top: -30px;
}

.link {
  text-decoration: none;
}

.filter {
  padding-right: 20px;
  width: 350px;
  display: inline-block;
  vertical-align: top;
}

.filterBorder {
  border-radius: 5px;
  padding: 16px 15px;
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  background-color: #fff;
}

.actions {
  display: inline-block;;
  border-radius: 5px;
  background-color: #fff;
  /*padding: 30px 38px;*/
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  width: calc(100% - 350px);
}

.notFound {
  font-size: 22px;
  margin: 20px 25px;
}

/*.separator {
  background-color: #cecece;
  height: 2px;
  border: 0;
  margin: 0;
}*/

/*.title {
  color: #666666;
}*/

/*.button {
  border-radius: 100%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  outline: none !important;
  background-color: #00BEE7;
}*/

/*.icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  fill: #fff;
}*/

.menuStyle {
  color: gray;
  margin-bottom: -20px;
}

.buttonAdd {
  text-align: right;
}

@media only screen and (max-width: 1024px) {

  .root {
    font-size: 16px;
    padding: 10px 8px 15px;
  }

  .box {
    padding-left: 20px;
  }

  .actions {
    /*padding: 25px 0;*/
    width: calc(100% - 320px);
  }

  .filter {
    width: 320px;
    padding-right: 16px;
  }
}
