.container {
  position: relative;
  padding: 0 16px;
}

.order {
  float: right;
  height: 37px;
}

.separator {
  margin-bottom: 0;
  margin-top: 0;
  border: 0;
  background-color: #cbcbcb;
  height: 1px;
}

.title {
  font-size: 24px;
  color: #484848;
  margin-bottom: 4px;
  font-weight: 300;
}

.empty {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.iconConversation {
  font-size: 70px;
  fill: #00BEE7;
}

.root {
  margin: 0 auto 0;
  width: 300px;
  text-align: center;
  position: relative;
  min-height: 130px;
}

.notificacoes {
  list-style: none;
  overflow-y: auto;
  padding-bottom: 10px;
  min-height: 150px;
}

.ballon{
  text-align: right;
}

.texto {
  text-align: right;
  display: inline-block;
  max-width: 60%;
}

.texto .textoSpan {
  position: relative;
  margin-top: 16px;
  margin-right: 32px;
  display: inline-block;

  opacity: 0.92;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.4px;
  color: var(--white-two);
  color: #ffffff;

  border-radius: 4px;
  background-color: var(--aqua-blue);
  background-color: #00bee7;
  border: solid 0.6px #999090;
  padding: 8px;
}

.iconCheck {
  width: 15px;
  height: 15px;
  position: absolute;
  left: calc(100% + 8px);
  bottom: 0;
  display: inline-block;
  fill: #00bee7;
  
}

.datetime {
  height: 17px;
  font-size: 14px;
  text-align: right;
  color: #666666;
  padding-right: 32px; 
}

.textField {
  margin-bottom: 8px;
}

.textField textarea {
  padding-right: 60px !important;
}

.sendBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  border-radius: 50%; 
}

.submit {
  color: #fff;
  width: 36px;
  height: 36px;
}
