.container {
  color: #fff;
}

.texto {
  font-size: 38px;
  font-weight: 300;
}

.cifrão {
  font-size: 30px;
  font-weight: 300;
  margin-top: -18px;
}

.saldo {
  margin-left: 6px;
  font-size: 60px;
  font-weight: 300;
}

@media (min-width: 1000px) and (max-width: 1142px) {
  .texto {
    font-size: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .saldo {
    margin-left: 10px;
    margin-top: -5px;
  }

  .cifrão {
    font-size: 22px;
  }

  .saldo {
    font-size: 50px;
  }
}
