.formBg {
  height: 100%;
  margin: 0px auto;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
}

.divAnimation {
  -webkit-animation: anim 6s forwards;
  animation: anim 6s forwards;
  text-align: center;
  margin: 25px auto 45px;
}

@-webkit-keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
@keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
