.localAutocomplete {
  display: inline-block;
  position: relative;
  width: calc(100% - 50px);
}

.localAutocomplete input {
  padding-right: 50px !important;
}

.addLocal {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 0 15px;
  vertical-align: sub;
}

.searchIcon {
  position: absolute;
  right: 20px;
  top: 35px;
}

.modalHeader {
  position: relative;
  padding: 0 0 15px;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
}

.modalHeader svg {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
  font-size: 20px;
}

.holder {
  max-height: 580px;
  overflow: auto;
}

.icon {
  color: #00BEE7;
  position: absolute;
  top: 40px;
}
