.bottom {
  border-bottom: 2px solid #EBE9EB;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 0;
  line-height: 39px;
  font-size: 28px;
  color: rgb(102, 102, 102);
}

.labelText {
  margin-top: 15px;
  margin-bottom: 5px;
}

.icon {
  color: #777777;
  font-size: 18px;
  left: 14px;
  position: absolute;
  top: 15px;
  -ms-transform: rotate(270deg); /* IE 9 */
  transform: rotate(270deg);
}

.button {
  font-size: 20px;
  margin-top: 5px;
}

@media only screen and (max-width: 1024px) {
  .icon {
    left: 26px;
  }
}
