.title {
  margin-bottom: 0px;
  line-height: 35px;
  font-size: 28px;
  color: #484848;
  padding-top: 15px;
}

.bottom {
  border-bottom: 2px solid #EBE9EB;
  margin-bottom: 25px;
  max-height: 65px;
}

.printIcon {
  font-size: 36px;
  color: #00BEE7;
}

.order {
  margin-bottom: -10px;
  color: #484848;
  font-size: 14px;
}

.printButton {
  outline: none;
  border: none;
  cursor: pointer;
}

.printButton:focus {
  outline: none;
  border: none;
}
