.statement {
  width: 380px;
  height: 380px;
  background-color: #1b9b5b;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0 10px;
  word-wrap: break-word;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}

.centerArea {
  /* let it fill the whole container */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 25px;
}

.centerArea:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.centered {
  display: inline-block;
  vertical-align: middle;
}

.statement span {
  font-size: 24px;
  color: white;
  line-height: 1.5;
}
