.container {
  background-color: #20bee6;
  width: 100%;
  height: 408px;
  overflow: hidden;
  padding: 10px;
  color: #FFF;
}

.lista {
  display: block;
  border-bottom: 1px solid #FFF;
  padding: 15px 15px 20px;
  box-sizing: border-box;
  /*border-collapse: collapse;*/
}

.lista:last-child {
  border-bottom: 0px;
}

.texto {
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

.arquivo {
  text-align: right;
  text-decoration: none;
  display: inline-block;
}

.download {
  text-align: right;
  text-decoration: underline;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
}
