.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height:100px;
  /*zoom: $zoom;*/
  animation: backColor 2s ease-in-out linear infinit;
}

.loaderIE {
  margin: 0px auto;
  width: 40px;
  height:40px;
  border-radius: 100%;
  position:absolute;
  top:32px;
  left:30px;
  background-color: #ec4d07;
  border: 1px solid #fff;
}

.iconIE {
  stroke: #FFF;
  stroke-width: 2;
  position: absolute;
  width: 40px;
  height: 40px;
}

.circular {
  animation: rotate 1s linear forwards;
  width:100px;
  height:100px;
  position:relative;
}
.path {
  /*stroke:#007aff; */
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
   dash 1.5s ease-in-out forwards,
   color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes dash {
 0% {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }

 100% {
  stroke-dasharray: 150,200;
  stroke-dashoffset: 10;
 }
}

@keyframes color{
  0%, 99%{
    stroke: #FFF;
  }
  100%{
    stroke: #EC4D07;
  }
}
@keyframes rotate{
	100%{ transform:rotate(360deg) }
}

.checkmarkCheck {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
	  animation: stroke 0.5s  cubic-bezier(0.65, 0, 0.45, 1) 1.5s forwards, color 6s linear;
 }
	@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
.suc{
  stroke:#FFF;
	stroke-width:2;
	position:absolute;top:30px;left:30px;
	width:40px;height:40px;
  border-radius: 50%;
  animation: background-fade 2s forwards;
    -webkit-animation: background-fade 6s forwards;
    -moz-animation: background-fade 2s forwards;
}

@-webkit-keyframes background-fade {
    99%, 100% {
        background: #EC4D07;
    }
}
@-moz-keyframes background-fade {
    99%, 100% {
        background: #EC4D07;
    }
}
@keyframes background-fade {
    99%, 100% {
        background: #EC4D07;
    }
}
