.blocks {
  composes: Grid-cell from global;
  /*margin-bottom: 30px;*/
}

.actionsMade {
  padding-top: 47px;
}

.blocks:nth-child(2){
  padding: 0 40px;
}

.blocks:last-child {
  margin-bottom: 0;
}
