.boxInfo {
  max-width: 700px;
}

.nome {
  font-size: 18px !important;
  font-weight: 500;
  color: #484848;
  width: 410px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cargo {
  font-size: 14px;
  color: #707070;
  width: 410px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box {
  margin-bottom: 18px;
  display: table;
}

.title {
  font-size: 22px;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.separator {
  background-color: #eaeaea;
  height: 2px;
  border: 0;
  margin-bottom: 18px;
}

.avatar {
  width: 70px;
  margin-right: 10px;
  display: table-cell;
}

.dados {
  width: 430px;
  display: table-cell;
  vertical-align: middle;
}

.usersRoot {
  height: 330px;
  overflow: auto;
  margin-right: -3px;
}
