.rootLink {
  text-decoration: none;
}

.root {
  color: #474747;
  font-size: 18px;
  padding-top: 18px;
  margin: 0 16px;
}

.root:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.boxRow {
  padding-left: 16px;
}

.boxLine {
  margin-bottom: 5px;
}

.title {
  color: #00BEE7;
  font-size: 18px;
  text-align: left;
}

.itemTitle {
  font-size: 14px;
  color: #707070;
  text-align: left;
  display: block;
}

.itemText {
  font-size: 16px;
  color: #484848;
  text-align: left;
}

.itemLocal {
  font-size: 16px;
  color: #484848;
  text-align: left;
  display: flex;
  height: 100%;
  align-items: center;
  word-break: break-all;
}

.actionTypeIcon {
  color: #00BEE7;
  fill: #00BEE7;
  font-size: 19px;
  margin-right: 5px;
  vertical-align: middle;
}

.avatarGroup {
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  vertical-align: bottom;
  color: #3E92B7;
  margin-left: -5px;
  margin-right: 4px;
}

.iconClose {
  position: absolute;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.separator {
  height: 3px;
  border: 0;
  margin: 0;
  border-bottom: solid 0.6px #d4d3d3;
}

@media only screen and (max-width: 1024px) {
  .box {
    padding-left: 5px;
      width: 162px;
  }


  .box:last-child {
    padding-left: 8px;
  }

  .container {
    width: calc(100% - 325px);
    padding-right: 12px;
  }

}

@media print {
  .rootLink, .root, .itemLocal {
    display: block !important;
    break-inside: avoid;
  }

  .boxLine {
    display: table !important;
    margin-bottom: 5px !important;
    width: 100%;
  }

  .boxColumn {
    display: table-cell !important;
    vertical-align: top !important;
  }

  .avatar {
    display: block !important;
  }

  .avatarGroup {
    margin-bottom:  0 !important;
  }
}
