.root {
  min-height: 100vh;
  width: 100%;
}
.printBlock {
  display: none;
}
.notFound {
  font-size: 22px;
  margin: 20px 25px;
}

@media print {
  .printBlock {
    page-break-after: auto !important;
    display: block !important;
    width: 100% !important;
  }
}