.root {
  padding: 30px;
  box-shadow: 0px 1px 5px 0px #333;
  width: 600px;
  background-color: #FFF;
  height: 100%;
  margin: 0px auto 30px auto;
  box-sizing: border-box;
  color: #484848;
  display: inline-block;
  border-radius: 10px;
}

.button {
  color: rgb(0, 190, 231) !important;
}

.blocks {
  composes: Grid-cell from global;
  margin-bottom: 30px;
}

.blocks:nth-child(1){
  padding: 0;
}

.blocks{
  padding: 0 40px;
}
