.root {
  width: 100%;
}

.title {
  font-size: 20px;
  color: #484848;
  padding-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.obrigatorio {
  margin-top: 10px;
}

.buttonDialog {
  color: rgb(0, 190, 231) !important;
}
