.button {
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  align-items: center;
  display: inline-flex;
  padding: 5px 0;
}

.button:focus {
  outline: 0;
}
.button:last-of-type span{
  border-right: 0;
  border-left: 2px solid #4fa4db;
}
.button:first-of-type span{
  border-right: 0;
  border-left: 0;
}

.active {
  background-color: #1373B1;
}

.active:not(:first-of-type) span {
  border-left: 2px solid transparent !important;
}

.active + a span {
  border-left: 2px solid transparent !important;
  border-right: 0px;
}

.innerBtn {
  padding: 0 32px;
  border-left: 2px solid #4fa4db;
}

@media (max-width: 1088px) {
  .innerBtn {
    padding: 0 26px;
  }
}

@media (min-width: 1089px) and (max-width: 1281px) {
  .innerBtn {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .innerBtn {
    padding: 0 45px;
  }
}

@media (min-width: 1920px) {
  .innerBtn {
    padding: 0 70px;
  }
}
