.CommiteeCarouselFilter {
  color: #464646;
  font-size: 24px;
  padding-top: 30px;
}

.titleDiv {
  font-weight: 400;
}

.title {
  font-size: 28px;
}

.title svg {
  font-size: 45px;
  color: #4AAAB8;
  margin-right: 15px;
  vertical-align: text-bottom;
}

.selected {
  color: #1BB5DB;
  text-decoration: underline;
  outline: none;
}

.opts {
  text-align: center;
  line-height: 22px;
}

.opts:first-child {
  padding-left: 30px;
  text-align: center;
  line-height: 22px;
}


.opts:hover {
  color: #15B6D3;
  text-decoration: underline;
  cursor: pointer;
}

.opts:active {
  color: #15B6D3;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .titleDiv {
    font-size: 26px;
  }

  .title svg {
    font-size: 42px;
    margin-right: 10px;
    vertical-align: bottom;
  }

  .opts {
    font-size: 19px;
  }
}

@media (min-width: 1025px) and (max-width: 1153px) {
  .titleDiv {
    font-size: 26px;
  }

  .opts {
    font-size: 19px;
  }
}

@media (min-width: 1154px) and (max-width: 1247px) {
  .titleDiv {
    font-size: 30px;
  }

  .opts {
    font-size: 22px;
  }
}
