.AvatarButton button {
  position: relative;
  top: -35px;
  left: 45px;
  width: 30px;
  height: 30px;
}

.AvatarButton {
  margin-bottom: -25px;
}

.AvatarButton button svg {
  width: 17px;
  height: 17px;
}

.AvatarBox {
  composes: u-textCenter from global;
  position: relative;
}

.name {
  font-size: 18px;
  color: #484848;
}

.cargo {
  color: #484848;
  font-size: 14px;
  margin-bottom: 5px;
}

.participation {
  color: #484848;
  font-size: 14px;
  font-weight: bold;
}

.boxInfo {
  width: 250px;
  max-width: 250px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  height: 257px;
}

.modalHeader {
  position: absolute;;
  right: 10px;
  top: 10px;
}

.iconClose {
  font-size: 30px;
  color: #484848;
  cursor: pointer;
}

.gridInfo {
  top: 0px;
  position: absolute;
  padding-top: 10px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  left: 50%;
  right: 50%;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .boxInfo {
    width: 275px;
    max-width: 275px;
    margin-bottom: 20px;
  }
}

@media print {
  .name, .cargo, .participation {
    font-size: 18px !important;
    font-weight: normal !important;
  }

  .boxInfo {
    height: auto !important;
    display: inline-table;
    vertical-align: top;
  }

  .gridInfo {
    position: relative;
    vertical-align: top;
  }

  .name {
    margin-top: 10px;
  }
}
