.btn {
  composes: btnDefault from global;
  background-color: #fff;
  color: #00bee7;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,5);
  text-transform: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin: 0 0 10px;
}

.btn:active {
  box-shadow: none;
}

.btn:disabled {
  background-color: #8fdef2;
  box-shadow: none;
}
