.action {
  text-align: center;
  text-decoration: underline;
  cursor:pointer;
  display: inline-block;
  border-radius: 35px;
  font-size: 16px;
  word-break: normal;
  text-transform: uppercase;
  vertical-align: -webkit-baseline-middle;
}

.action:focus {
  outline: none;
}
