.LoginBox {
    max-width: 500px;
    padding: 7% 0 20px;
    text-align: center;
    color: #484848;
    margin: auto;
}

.logo {
    margin-bottom: 28px; 
}

h1 {
    font-size: 24px;
    margin: 0 auto 8px;
}

.desc {
    max-width: 320px;
    font-size: 16px;
    margin: 0 auto 24px;
}