.leftCorner {
  background: linear-gradient(#44afb6, #4293b6);
  box-shadow: inset -10px 0 15px -7px #377590;
  padding: 31px;
}

.rightCorner {
  background-color: #20bee6;
}

.title {
  /*padding: 35px 30px 30px 30px;*/
  padding-bottom: 35px;
  color: #FFF;
}

.title h3 {
  font-size: 36px;
  font-weight: 300;
}

.subtitle {
  line-height: 25px;
  color: #FFF;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
}

.leader {
  font-size: 20px;
  color: #FFF;
}
.boxLeader {
  padding-left:25px;
}

.textLeader {
  padding: 10px;
}
