.AutoComplete_MenuItem {
  border-bottom: 1px solid #b1b1b1;
}

.AutoComplete_MenuItem svg {
  font-size: 10px;
}

.usersAutocomplete {
  position: relative;
}
.usersAutocomplete input {
  padding-right: 50px !important;
}
.searchIcon {
  position: absolute;
  right: 20px;
  top: 35px;
}
