.landing {
  width: 100%;
  overflow-x: hidden;
}

.holderTop {
  position: relative;
  padding: 0;
  margin: 0;
}

.holderContent {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.cadastro {
  position: absolute;
  height: 100%;
  width: 820px;
  z-index: 3;
  margin: 0 auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.buttonClosed {
  font-size: 26px;
  color: #FFF;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 15;
}
