.divAvatar {
  display: inline-block;
  margin-left: -24px;
  vertical-align: top;
}

.divAvatar:first-of-type {
  margin-left: 0
}

.divAvatarUn {
  display: inline-block;
  margin-right: 3px;
  vertical-align: top;
}

.divAvatarUn:last-of-type {
  margin-right: 0
}

.title {
  margin-bottom: 10px;
}

.number {
  font-size: 22px;
  position: relative;
  top: 14px;
  margin-left: 10px;
}

.empty {
  font-size: 20px;
  position: relative;
  top: 0;
  margin-left: 10px;
}
