.result {
  padding-left: 15px;
}

.box {
  margin: 24px 30px;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 5px 0 0 5px;
    width: calc(100% - 337px);
  }
}

@media print {
  .box {
    display: table;
    width: 100%;
    break-inside: auto;
    font-size: 25px !important;
    margin: 10px auto !important;
  }
}
