.divLogout {
  width: 30%;
  margin: auto;
}

.logout {
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 20px;
}

.leaderAvatar {
  text-align: center;
  color: #FFF;
  padding: 40px 20px 35px;
}

.leaderAvatar div:first-child {
  margin: 0 auto;
  margin-bottom: 30px;
}

.leaderAvatar h2 {
  margin: 0 0 10px;
  font-size: 35px;
}

.company {
  padding: 0;
  text-align: left;
  display: inline-block;
  margin-right: 32px;
}

.category {
  padding: 0;
  text-align: right;
  display: inline-block;
}

.leaderAvatar svg {
  margin-right: 10px;
}

.leaderAvatar a {
  text-decoration: none;
}

.firstIcon {
  font-size: 25px;
  margin-bottom: -5px;
}

.secondIcon {
  font-size: 35px;
  margin-bottom: -10px;
}

@media screen and (max-width: 1024px) {
  .leaderAvatar span {
    padding: 15px 5px;
    font-size: 16px;
  }

  .leaderAvatar svg {
    font-size: 24px;
    margin-right: 5px;
    margin-bottom: -5px;
  }

  .company{
    margin-right: 26px;
  }

  .secondIcon {
    font-size: 28px;
  }
}
