.button {
  /*box-shadow: 2px 2px 5px 0px rgb(155, 155, 155);*/
  border-radius: 100%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  outline: none !important;
}

.icon {
  width: 29px;
  height: 31px;
  vertical-align: middle;
  fill: #fff;
}
