.guideline {
  padding: 20px;
  background-color: #f5f5f5;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 6px;
}

.title {
  font-size:16px;
  color: gray;
  margin-bottom: 10px;
  margin-top: 35px;
}

.containerTitle {
  font-size: 25px;
  margin-bottom: 20px;
}

.statistic {
  background-color: #4399b4;
}
