.root {
  width: 100%;
}

.link {
  text-decoration: none;
}

.notFound {
  font-size: 22px;
  margin: 20px 25px;
}

.circular {
  text-align: center;
  margin: 30px 0;
}

.menuStyle {
  color: gray;
  margin-bottom: -20px;
}

.buttonAdd {
  text-align: right;
}

@media only screen and (max-width: 1024px) {

}
