.title {
  font-size: 18px;
  color: #00BEE7;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.note {
  font-size: 14px;
  color: #707070;
  line-height: 1.3;
  margin-bottom: 5px;
  margin-left: 2px;
}

.dropzone {
  border: 2px dashed #00BEE7;
  height: 200px;
  width: 97%;
  padding: 10px 18px;
  color: #7E8083;
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 20px;
}

.content {
  height: 200px;
  width: 100%;
  /*background-color: #00BEE7;*/
  /*margin: 5px 5px;*/
}

.content img {
  height: 170px;
  width: 100%;
}

.icons {
  font-size: 72px;
  color: #00BEE7;
  display: block;
  margin: 15px auto;
}

.dropzone a {
  font-size: 20px;
  color: #00BEE7;
  display: block;
  text-transform: none;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.pictures {
  padding: 10px;
}

.boxDashed {
  padding-top: 10px;
  padding-left: 10px;
}

.btn {
  position: absolute;
  top: 4px;
  right: 4px;
  border: 0 none;
  outline: none;
}

.btn:focus {
  outline: none;
}

.iconDelete {
  border-radius: 35px;
  background-color: #ffffff;
  color: #484848;
  font-size: 22px;
}
