.root {
  color: #474747;
  font-size: 18px;
  margin: 0 16px;
}

.root:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.container {
  composes: Grid from global;
  width: 100%;
  margin-bottom: 25px;
}

.container:last-child {
  margin-bottom: 8px;
}

.textSmall {
  font-size: 14px;
  color: #707070;
}

.lider {
  font-size: 16px;
  margin-left: -15px;
}

.numbers {
  font-size: 16px;
  color: #484848;
}

.textBlue {
  font-size: 18px;
  color: #00bee7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none;
  color: #474747;
  padding: 18px 16px;
}

.paddingCell {
  padding: 0 8px !important;
}

.containerGridCell1 {
  composes: Grid-cell u-size1of12 from global;
  margin-left: -2%;
}

.containerGridCell2 {
  composes: Grid-cell u-size11of12 from global;
}

@media (max-width: 1024px) {
  .link {
    text-decoration: none;
    color: #474747;
    padding: 12px 8px;
  }

  .box {
    padding-left: 5px;
    width: 162px;
  }


  .box:last-child {
    padding-left: 8px;
  }

  .containerGridCell1 {
    width: 14% !important;
    margin-left: -19px;
  }

  .containerGridCell2 {
    width: 86% !important;
  }
}

@media print {
  .container {
    display: inline-block;
  }
  .box {
    display: inline-block;
  }
  .avatar {
    display: inline-block;
  }

  .root {
    display: block;
    width: 1024px;
    page-break-after: auto;
  }

  .separator {
    display: block;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #E8E8E8;
  }

  .textSmall {
    font-size: 16px;
  }

  .lider {
    font-size: 20px;
  }

  .numbers {
    font-size: 20px;
  }

  .textBlue {
    font-size: 22px;
  }
}
