.root {
  color: #474747;
  font-size: 16px;
  padding-top: 18px;
  margin: 0 16px;
}

.root:hover {
  background-color: #F8F8F8;
}

.divIcons {
  float: right;
  margin-right: 14px;
}

.icon {
  font-size: 24px;
  vertical-align: bottom;
  color: #797779;
  margin-left: -5px;
  margin-right: 4px;
  cursor: pointer;
}

.icon:last-child {
  margin-left: 18px;
}

.separator {
  background-color: #EBE9EB;
  height: 1px;
  border: 0;
  margin-bottom: 0;
  margin-top: 18px;
}

.nomeEmpresa {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-width:80%;
  display:inline-block;
  margin-left: 16px;
}

@media only screen and (max-width: 1024px) {

  .nomeEmpresa {
    max-width:80%;
  }

}

@media print {
  .separator {
    display: block;
    margin-top: 7px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #E8E8E8;
  }
}
