.root {
  width: 100%;
  min-height: 100vh;
}

.header {
  height: 43px;
  background-color: #F7F7F7;
  padding: 16px 0;
  margin: 1px 16px;
}

.itemHeader {
  composes: Grid from global;
  font-size: 14px;
  color: #707070;
  padding: 0 16px;
}

.center {
  text-align: right;
  width: 13% !important;
}

.link {
  text-decoration: none;
}

.actions {
  display: inline-block;;
  border-radius: 5px;
  background-color: #fff;
  /*padding: 30px 38px;*/
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  width: calc(100% - 350px);
  padding: 0 0 30px;
}

.notFound {
  font-size: 22px;
  margin: 20px 25px;
}

.circular {
  text-align: center;
  margin: 30px 0;
}

.menuStyle {
  color: gray;
  margin-bottom: -20px;
}

.buttonAdd {
  text-align: right;
}

.separator {
  height: 0.6px;
  border-top: none;
  border-right: none;
  border-bottom: solid 0.6px #d4d3d3;
  border-left: none;
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {


  .box {
    padding-left: 20px;
  }

  .actions {
    /*padding: 25px 0;*/
    width: calc(100% - 320px);
  }

  .filter {
    width: 320px;
    padding-right: 16px;
  }
}

@media print {
  .separator {
    display: block;
    margin-top: 7px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #E8E8E8;
  }

  .root {
    padding: 8px 16px 0;
    display: block;
    width: 1024px;
  }

}
