.formBg {
  max-width: 820px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  composes: u-textCenter from global;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.containerTerm {
  max-height: 40vh;
  background-color: #fff;
  color: #484848;
  font-size: 16px;
  padding-left: 23px;
  padding-top: 20px;
  padding-right: 15px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: justify;
  border: 1px solid #909090;
  box-shadow: 1px 2px 6px 0px rgb(116, 116, 116);
  overflow: auto;
  line-height: 25px;
  text-indent: 15px;
}

.containerTerm ul{
  list-style: disc;
  padding-left: 18px;
}

.containerTerm u{
  text-decoration: underline;
}

.formBg h1, h2 {
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 3.5%;
}

.formBg h2 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 90px;
}

.avatar {
  margin: 0 auto;
  width: 250px;
  margin-bottom: 3%;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.title:first-child {
  margin: 0 auto 5px;
  text-align: center;
}

.note {
  font-size: 14px;
  /*margin-top: 8px auto 30px;*/
  margin: 8px auto 30px;
  /* margin-bottom: 30px; */
  max-width: 560px;
}

.icon {
  transform: rotate(90deg);
  /*width: 35px;
  height: 28px;*/
  font-size: 28px;
  vertical-align: bottom;
  margin-right: 5px;
}

.buttons {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 46px;
}

.btnBack {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.btnAccept {
  min-width: 250px;
}

.errorMsg {
  color: rgba(0, 0, 0, 0.6);
}

.buttonDialog {
  color: rgb(0, 190, 231) !important;
}

.errorBtn {
  display: inline-block;
  font-size: 0.8em;
  padding: 2px 20px;
}

/* PERSONALIZAR BARRA DE ROLAGEM */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
  right: -5px;
}

::-webkit-scrollbar-track-piece {
  background-color: #dfdfdf;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #bfbfbf;
  -webkit-border-radius: 3px;
}

.divAnimation {
  -webkit-animation: anim 3.5s forwards;
  animation: anim 3.5s forwards;
  flex: 1 0 auto;
}

@-webkit-keyframes anim {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  85.71% {
    transform: translateX(0);
  }
}
@keyframes anim {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  85.71% {
    transform: translateX(0);
  }
}