.container {
  padding: 0 16px;
}

.order {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.separator {
  margin-bottom: 0;
  margin-top: -5px;
  border: 0;
  background-color: #afafaf;
  height: 1px;
}

.title {
  font-size: 24px;
  color: #484848;
  margin-bottom: 4px;
  margin-right: 16px;
  display: inline-block;
  font-weight: 300;
}

.orderTitle {
  color: #484848;
  font-size: 16px;
  align-self: flex-start;
  margin-top: 6px;
  white-space: nowrap;
}

.iconAdd {
  font-size: 14px;
  color: #fff;
  margin-left: 5px;
  margin-top: 5px;
}

.buttonAdd {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #00BEE7;
  border-radius: 13px;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 4px;
}

.linkAdd {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-bottom;
}

.linkAdd span {
  color: #00BEE7;
  font-size: 14px;
  vertical-align: text-top;
}

.buttonAdd:focus {
  outline: none;
  border: none;
}

.printButton {
  cursor: pointer;
  align-self: flex-start;
}

.printIcon {
  font-size: 30px;
  color: #00BEE7;
  float: right;
  margin-left: 10px;
}

@media print {
  .container {
    display: block !important;
    margin: 0 !important;
    width: 100% !important;
    overflow: hidden !important;
  }

  .order {
    display: table !important;
    text-align: right !important;
    vertical-align: text-bottom !important;
    width: 100% !important;
  }
  .orderTitle {
    vertical-align: text-bottom !important;
    display: inline-table !important;
    margin: 0;
  }

  .select {
    vertical-align: text-bottom !important;
    display: inline-table !important;
    margin-bottom: -28px;
  }
}
