.container {
  background-color: #20bee6;
  width: 100%;
  height: 408px;
  overflow: auto;
  padding: 10px;
  color: #FFF;

}

.lista {
  display: block;
  border-bottom: 1px solid #FFF;
  /*padding: 15px 15px 20px;*/
  padding: 15px;
  box-sizing: border-box;
  /*border-collapse: collapse;*/
}

.lista:last-child {
  border-bottom: 1px solid #A4DCF2;
}

.texto {
  text-align: left;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

.arquivo {
  text-align: right;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

.download {
  text-align: right;
  text-decoration: underline;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
}

@media (min-width: 1024px) and (max-width: 1200px ) {
  .lista {
    padding: 15px 10px;
  }
}
