.root {
  background-color: #FFF;
  height: 100%;
  padding: 16px 0 0;
  color: #484848;
  border-radius: 10px;
  padding-left: 312px;
}

@media screen and (max-width: 1024px) {

  .root {
    margin: 0;
    margin-top: 5px;
  }
}

@media print {
  .root {
    padding-left: 0 !important;
    /*overflow: visible !important;*/
    display: block !important;
    width: 100% !important;
    page-break-after: always !important;
    /*break-after: auto !important;*/
  }
}
