.formBg {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.center div:nth-child(1) {
  margin: 0 auto;
}

.form {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.formBg h1, h2 :not(pv-Step1-formBg) {
  font-size: 42px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 0;
}

.formBg h2 :not(pv-Step1-formBg) {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 90px;
}

.icon {
  transform: rotate(90deg);
  width: 35px;
  height: 28px;
  vertical-align: bottom;
  margin-right: 5px;
}

.boxBtns {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 46px;
}

.btnBack {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.rightAnimation {
  -webkit-animation: rightAnim 3.5s forwards;
  animation: rightAnim 3.5s forwards;
  flex: 1 0 auto;
}

.leftAnimation {
  -webkit-animation: leftAnim 3.5s forwards;
  animation: leftAnim 3.5s forwards;
  margin-bottom: 30px;
  flex: 1 0 auto;
}

.loader {
  min-height: 75px;
  padding: 25px 0 10px;
}

@-webkit-keyframes rightAnim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20.28% {
    transform: translateX(0);
    opacity: 1;
  }
  85.71% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightAnim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  20.28% {
    transform: translateX(0);
    opacity: 1;
  }
  85.71% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes leftAnim {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20.28% {
    transform: translateX(0);
    opacity: 1;
  }
  85.71% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftAnim {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  14.28% {
    transform: translateX(0);
    opacity: 1;
  }
  85.71% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@media screen and (max-width: 1024px) {
  .buttons {
    margin-top: 10px;
  }
}
