.text {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  margin-bottom: 8px;
}

.containerCheckbox {
  margin-bottom: 22px;
}

.textSelect {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  margin-bottom: -7px;
}

.boxText {
  display: inline-block;
  width: 50%;
  padding-right: 18px;
}

.boxTextRight {
  display: inline-block;
  width: 50%;
  padding-right: 0;
  padding-left: 18px;
}

.title {
  font-size: 28px;
  color: rgb(102, 102, 102);
}

.separator {
  margin-bottom: 15px;
  margin-top: 0;
  border: 0;
  background-color: #EBE9EB;
  height: 2px;
}

.date {
  width: 144px;
  position: relative;
  display: inline-block;
  padding-right: 18px;
}
.date:last-child {
  padding-right: 0;
  padding-left: 22px;
}

.iconDate {
  position: absolute;
  right: 14px;
  top: 30px;
  font-size: 28px;
}

.iconSearch {
  position: absolute;
  left: 27px;
  margin-top: 15px;
  transform:rotateY(180deg);
  font-size: 18px;
  fill: #777777;
}

.iconDateLast {
  position: absolute;
  right: 5px;
  top: 30px;
  font-size: 28px;
}

.btn {
  margin: 15px 0 0;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .iconSearch {
    left: 26px;
  }
}
