.root {
  height: 56px;
  /*padding-top: 8px;*/
  /*padding-bottom: 7px;*/
  background-color: #1687D1;
  text-align: left;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.root a:hover { 
  background: #1e7dc3;
}

.root a:hover span{
  border-left: 2px solid transparent;
}

.root a:first-of-type span{
  border-left: 0px;
  border-right: 0px;
  padding: 0 16px !important;
}

.root a:hover + a span{
  border-left: 2px solid transparent;
  border-right: 0px;
}

.logo {
  margin-top: 10px;
  width: 36px;
  vertical-align: middle;
  margin-left: 32px;
}

.divHeaderAdminUser {
  /*margin-left: 40px;*/
  padding: 0px 15px;
  background: #1473B1;
  display: inline-flex;
  height: 100%;
}
.divHeaderAdminUser div {
  display: flex;
  align-items: center;
}

.menuBlock {
  height: 100%;
  display: inline-flex;
}

.menu {
  display: flex;
  margin-left: 16px;
}

/*@media (max-width: 1281px) {
  .root {
    text-align: left;
  }
}*/
