.breadcrumb {
  position: relative;
  z-index: 1;
  list-style: none;
  color: rgba(0,0,0,0.6);
  padding: 10px 15px;
  box-shadow: 0px 0px 8px 0px rgba(150,150,150,0.4);
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb span {
  display: inline-block;
  padding: 0 5px;
}

.breadcrumb a {
  color: #01bee8;
  text-decoration: underline
}
