.container {
  background-color: #F9F9F9;
  border-top: 1px solid #B8B8B8;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  margin-top: 15px;
}

.logo {
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  height: 120px;
}

.upIcon {
  margin-top:50px;
  font-size: 50px;
  cursor: pointer;
  position:absolute;
}
