.root {
  color: #484848;
  font-size: 16px;
  padding-top: 16px;
  margin: 0 16px;
}

.root:hover {
  background-color: #F8F8F8;
}

.nome {
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divIcons {
  text-align: right;
  padding-right: 16px;
}

.togglePontual {
  width: 40px;
  margin: 0 auto;
}

.toggleExclusivaLider {
  width: 40px;
  margin: 0 auto;
}

.toggleExisteCarta {
  width: 40px;
  margin: 0 auto;
  position: relative;
}

.toggleExisteCarta:after {
  content: " ";
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  z-index: 2;
  cursor: not-allowed;
}

.icon {
  font-size: 24px;
  vertical-align: bottom;
  color: #797979;
  margin-left: -5px;
  margin-right: 4px;
  cursor: pointer;
}

.icon:last-child {
  margin-left: 18px;
}

.separator {
  background-color: #EBE9EB;
  margin-bottom: 0;
  margin-top: 18px;
  height: 0.6px;
  border-top: none;
  border-right: none;
  border-bottom: solid 0.6px #d4d3d3;
  border-left: none;
}

@media print {
  .separator {
    display: block;
    margin-top: 7px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #E8E8E8;
  }

  .root {
    padding: 8px 16px 0;
    width: 1024px;
  }

}
