.grid > .container {
  margin-bottom: 10px;
}

.emptyState {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.img {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}

.text {
  display: inline-block;
  color: #484848;
  font-size: 22px;
  text-align: left;
  vertical-align: middle;
}

.text h1 {
  color: #797979;
}

.text h2 {
  font-size: 20px;
  color: #797979;
  font-weight: 300;
}

.containerLoader {
  margin-bottom: 30px;
}
