
.leaderDashboardLinks {
  color: #FFF;
  padding: 0 25px 0 30px;
  box-sizing: border-box;
  font-size: 20px;
}

.leaderDashboardLinks a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);
  padding: 13px 15px 25px 0;
  text-align: right;
  box-sizing: border-box;
  font-size: 25px;
}

.leaderDashboardLinks a {
  color: #FFF;
}

.leaderDashboardLinks a:last-child {
  border-bottom: 0px;
}


.button {
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px solid #75B4C9;
  padding: 20px 20px 25px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  text-align: right;
}


@media (min-width: 1000px) and (max-width: 1142px) {
  .leaderDashboardLinks {
    padding: 0;
  }

  .leaderDashboardLinks a {
    padding: 20px 9px 25px;
    font-size: 23px;
    margin-left: 25px;
  }
}
