.conteiner {
  background-color: #20bee6;
  width: 100%;
  /*height: 408px;*/
  overflow: auto;
  padding: 80px 30px 30px 30px;
}

.texto {
  color: #FFF;
  font-size: 18px;
  text-align: left;
  position: relative;
  padding: 20px 0;
  width: 100%;
  /*height: 40%;*/
}

.dateInput {
  color: #FFF !important;
  width: 100%;
  position: relative;
  padding: 0 10px;
}

.dateInput input {
  color: #FFF !important;
}

.dateInput label {
  color: #FFF !important;
}

.buttonBaixar {
  padding: 20px 0;
  text-align: center;
}

.datas {
  margin: 0 10px 0 10px;
  min-height: 105px;
}

.icon {
  position: absolute;
  right: 93%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

.button {
  color: rgb(0, 190, 231) !important;
}
