.container {
  padding: 10px 0px;
  text-align: right;
}

.button {
  color: #fff;
  padding: 20px 50px;
  font-size: 26px;
  letter-spacing: 0.8px;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  word-break: normal;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  line-height: 20px;
  margin: 0 10px 10px 0;
  background-color: transparent;
  border: 2px solid #fff;
}

.button:hover {
  background-color: #fff;
  color: #44afb6;
}

.button:active {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.button:focus {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

@media (min-width: 1023px) {
  .button {
    padding: 20px 40px;
  }
}