.infoRoot {
  composes: Grid from global;
  margin-bottom: 10px;
}

.infoTitle {
  font-size: 14px;
  display: block;
  line-height: 14px;
  color: #707070;
}

.info {
  font-size: 16px;
  color: #484848;
}

.contentTabInfo {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 23px;
}

.contentTabActions {
  padding-top: 23px;
}

.contentTabVolunteer {
  padding-top: 23px;
}

@media print {

  .contentTabActions {
    margin-top: -100px;
  }

  .contentTabVolunteer {
    margin-top: -100px;
  }
}
