.headerBoxLogo {
  height: 100px;
  width: 200px;
}

.container {
  composes: Grid-cell from global;
  position: relative;
  text-align: center;
  padding-top: 10%;
}

.errorIcon svg{
  color: #E0E0E0;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

.title {
  color: #FB822B;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 30px;
}

.link {
  margin-bottom: 80px;
}

.logo {
  margin-bottom: 30px;
}

.animationImg {
  -webkit-animation: anim 4s forwards;
  animation: anim 4s forwards;
}

@-webkit-keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
@keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
