.moreAboutUs {
  text-align: right;
  position: relative;
  z-index: 1;
}

.moreAboutUs > div {
  display: inline-block;
  margin: auto;
  margin-right: 40px;
  text-align: left;
  min-width: 450px;
}

.landingVideo {
  margin-top: calc(170px / 10 * 4 * -1);
}

section {
  margin-bottom: -11px;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 20px;
}
