.title {
  font-size: 24px;
  color: #484848;
  margin-bottom: 4px;
  font-weight: 300;
  margin-top: 6px;
}

.separator {
  margin-bottom: 15px;
  margin-top: 0;
  border: 0;
  background-color: #afafaf;
  height: 1px;
}

.filter {
  background-color: #FCFCFC;
  width: 312px;
  padding: 16px;
  box-sizing: border-box;
  color: #484848;
  vertical-align: top;
  border-right: 1px solid #F7F7F7;
  position: -webkit-sticky;
  position: sticky;
  float: left;
  top: 0;
}

@media screen and (max-width: 1024px) {
  .filter {
    margin-top: 5px;
  }
}
