.container {
  background-image: url('/images/bg-landing-cta.png');
  composes: Grid-cell from global;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  position: relative;
}

.logo {
  margin-bottom: 20px;
  margin-left: 20px;
}

.LandingCTATeste {
  composes: Grid Grid--withGutter Grid--alignCenter from global;
  position: relative;
}

.Text {
  color: #3E95B7;
  font-size: 28px;
  text-align: center;
}

.Nome {
  color: #3E95B7;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: capitalize;
}


/*
.LandingCTAFooter {
  composes: Grid-cell from global;
  margin-top: -10%;
}*/

.AvatarBox {
  composes: Grid-cell u-size4of12 u-textCenter from global;
  position: relative;
  height: 690px;
}

.AvatarButton {
  margin-bottom: -45px;
}

.AvatarButton button {
  position: relative;
  top: -50px;
  left: 82px;
}

.seta{
  position: absolute;
  left:50%;
  top: 92%;
  cursor: pointer;
  font-size: 80px;
  transform: translate(-50%, -50%)
}

.LandingAvatarsLeft {
  composes: Grid-cell u-size4of12 from global;
  overflow: hidden;
  z-index: 2;
}

.LandingAvatarsRight {
  composes: Grid-cell u-size4of12 from global;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.reverser,
.reverser img {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/;
  float: right;
}

/*@media (min-width: 1200px) and (max-width: 1580px) {
  .seta{
    top:780px;
  }
}

@media (min-width: 1599px) and (max-width: 2200px) {
  .seta{
    top:797px;
  }
}

@media (min-width: 2201px) and (max-width: 2560px) {
  .seta{
    top:815px;
  }
}*/
