.divBtn {
  /*display: flex;*/
  margin-top: 15px;
  margin-bottom: 40px;
  position: relative;
}

.delete {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0 !important;
}

.register {
  max-height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.divBtn > div {
  margin: 0 auto;
}

.divBtn > div.backButton {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.ml {
  margin-left: 36px !important;
}

.hideHeader {
  display: none;
}
