/*.boxInfo p, span {
  color: #484848;
  font-size: 15px;
}*/
.boxInfo {
  width: 680px;
}

.name {
  font-size: 18px !important;
  font-weight: 500;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 5px;
  color: #484848;
}

.email {
  font-size: 15px;
  font-weight: 500;
  padding-left: 5px;
  padding-bottom: 15px;
  color: #484848;
}

.cargo {
  font-size: 15px;
  padding-left: 5px;
  color: #484848;
}

.cr {
  font-size: 15px;
  padding-left: 5px;
  color: #484848;
}

.shirtSize {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  color: #484848;
}



.chief {
  padding-top: 20px;
  padding-left: 5px;
  font-size: 15px;
  color: #484848;
}


.avatar{
  margin-bottom: 20px;
}

.phoneLabel {
  font-size: 15px;
  color: #484848;
  padding-left: 5px;
  margin-left: 7px;
}

.phone {
  font-size: 15px;
  color: #484848;
  padding-left: 5px;
  margin-left: 7px;
}