.leftCorner {
  composes: Grid-cell u-size3of5 from global;
  background: linear-gradient(#44afb6, #4293b6);
  box-shadow: inset -10px 0 15px -7px #377590;
  padding: 27px 30px 28px 24px;
}

.leftCornerGrid {
  composes: Grid from global;
  margin-bottom: 97px;
}

.leftCornerGridCell {
  composes: Grid-cell u-size3of5 from global;
  width: 44% !important;
}

.rightCorner {
  composes: Grid-cell u-size2of5 from global;
  background-color: #20bee6;
}

.balanceAndAction button {
  padding: 15px 50px;
  line-height: 30px;
  font-size: 19px;
  border-radius: 55px;
}

.balanceAndActionGridCell {
  composes: Grid-cell u-size2of5 from global;
  text-align: right;
  width: 56% !important;
}

.buttonHome {
  display: inline-block;
  height: 30px;
  position: relative;
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  padding-top: 25px;
  margin-right: 25px;
  text-align: right;
}

.LeaderDashboardOutlineButton {
  padding: 15px 40px;
  font-size: 25px;
}

@media (min-width: 1000px) and (max-width: 1142px) {
  .balanceAndAction button {
    padding: 15px 30px;
    font-size: 21px;
  }

  .LeaderDashboardOutlineButton {
    padding: 10px 40px;
    font-size: 22px;
  }
}
