
.container {
  position: relative;
  text-align: center;
  background-color: #000;
}

.landingVideo {
  z-index: 0;
  vertical-align: text-top;
}

.playButton {
  color: #FFF;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.playButton svg {
  width: auto;
  height: auto;
}

video::-webkit-media-controls {
    overflow: hidden !important
}
video::-webkit-media-controls-enclosure {
    width: calc(100% + 32px);
    margin-left: auto;
}
