.containerLoader {
  height: 500px;
}

.CarouselCommiteeActions {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 15px;
  /*height: 530px;*/
  box-sizing: border-box;
  white-space: nowrap;
  display: flex;
}

.CarouselCommiteeActions::after {
  content: '';
  min-width: 1px;
}

.CarouselCommiteeActions div:nth-child(1) {
  margin-left: 0px !important;
}

.emptyState {
  margin-top: 30px;
  text-align: center;
}

.img {
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}

.text {
  display: inline-block;
  color: #797979;
  font-size: 22px;
  text-align: left;
  vertical-align: middle;
}

.text h2 {
  font-size: 18px;
   color: #797979;
}
