
.CommiteCard {
  border-radius: 5px;
  width: 360px;
  min-width: 360px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  padding: 25px 15px 60px;
  color: #464646;
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
  white-space: normal;
  position: relative;
  overflow: hidden;
}

.CommiteCard:last-of-type {
  margin-right: 20px;
}

.CommiteCard svg{
  color: #42A4BD;
  font-size: 26px;
}

.CommiteCard p{
  line-height: 26px;
  margin-bottom: 20px;
  font-size: 18px;
  white-space: normal;
}

.CommiteCard p:nth-child(6){
  margin-bottom: 0;
}

.CommiteCard button{
  outline: none;
}

.CommiteCard p svg{
  vertical-align: middle;
  margin-right: 10px;
}

.title {
  color: #2397BE;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
}

.subTitle {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: 300;
}

.avatars {
  margin: 15px 0;
  cursor: pointer;
}

.avatars > p {
  color: #2397BE;
  flex-wrap: 300;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  position: relative;
}

.avatars > p::after {
  background: #eee;
  bottom: -3px;
  content: '';
  left: 20%;
  height: 2px;
  position: absolute;
  transition: left 0.2s linear, width 0.2s linear;
  width: 0;
}

.avatars:hover > p::after,
.avatars:focus > p::after {
  left: 0;
  width: 40%;
}

.iconClose {
  position: absolute;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.holderBtn {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
}

.bt {
  vertical-align: middle;
  margin-right: 25px;
  float: right;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
