.box {
    padding-bottom: 20px; 
}

.fields {
    padding: 8px 0 24px;
}

.logo {
    margin-bottom: 28px; 
}

h1 {
    font-size: 24px;
    margin: 0 auto 8px;
}

.desc {
    max-width: 320px;
    font-size: 16px;
    margin: 0 auto 24px;
}