
.mainActionsGallery {
  overflow: hidden;
  position: relative;
  height: 310px;
}

.actionsGallery {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  height: 310px;
}

.actionsGallery:hover {
  overflow-x: auto;
}

.carouselOverflow {
  width: auto;
  max-width: none;
  white-space: nowrap;
}

.slides {
  display: inline-block;
  padding: 10px;
  background-color: #44afb6;
  margin-right: 10px;
  vertical-align: middle;
}

.carousel {
  overflow: hidden;
}

.leftBlur, .rightBlur {
  position: absolute;
  width: 80px;
  height: 100%;
  content: " ";
  top: 0;
}

.leftBlur {
  left: 0;
  box-shadow: inset 35px 0 20px -10px #FFF;
}

.rightBlur {
  right: 0;
  box-shadow: inset -35px 0 20px -10px #FFF;
}

.container {
  position: relative;
  overflow: hidden;
  height: 280px;
  width: 380px;
  background: #000;
}

.container:hover {
  cursor: pointer;
}

.container img{
  position: absolute;
  width: 380px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxEmptyPictures {
  height: 280px;
  padding: 80px 0;
}

.emptyPictures {
  font-size: 80px;
  color: blue;
  display: block;
  margin: 0 auto;
}

.picturesText {
  font-size: 18px;
  color: #707070;
}
