.carousel button {
  color: #FFF;
  font-size: 108px;
  position: absolute;
  top: 180px;
  left: -100px;
  z-index: 10;
}

.carousel button:last-of-type {
  right: -100px;
  left: auto;
}


.modalThumbs {
  background-color: #000;
  align-items: center;
  display: inline-flex;
  position: relative;
  font-size: 0px;
  text-align: center;
  height: 400px;
  vertical-align: top;
  overflow: hidden;
}

.modalThumbs img {
  max-height: 400px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  vertical-align: middle;
}

.thumbs{
  margin-top: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 115px;
  font-size: 0;
}

.thumbs:hover {
  overflow-x: auto;
  font-size: 0;
}

.thumbs li{
  display: inline-block;
  margin-right: 10px;
  font-size: 0;
  border: 3px solid rgba(0, 0, 0, 0); 
  cursor: pointer;
}

@media (min-width: 1400px){
  .imgHighlight {
    height: 400px;
  }
}

@media (min-width: 1600px){
  .imgHighlight {
    height: 500px;
  }
}
