.formBg {
  background-color: #FFF;
  max-width: 820px;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  color: #000;
}
.bottom {
  composes: Grid from global;
  border-bottom: 1px solid #b4b6ba;
  margin-bottom: 15px;
}

.title {
  line-height: 35px;
}

.delete {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0 !important;
}

.register {
  max-height: 40px;
  display: inline-block;
  vertical-align: middle;
  /*margin-left: 30px;*/
}

.pillButton {
  /*display: flex;*/
  margin: 15px 0;
  position: relative;
}

.pillButton > div {
  margin: 0 auto;
}

.pillButton > div.backButton {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.ml {
  margin-left: 36px !important;
}


.addButton {
  top: 15px;
    left: 10px;
    position: relative;
    font-size: 21px;
}

.icon {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 25px;
}

.spacing10 {
  margin-bottom: 10px;
}

.spacing {
  margin-bottom: 20px;
}

.labelText {
  transform: scale(0.79) translate(-67px, 0px);
  font-size: 17px;
  color: #707070;
  margin-top: 15px;
  margin-bottom: 0px;
}

.errorText {
  position: relative;
  bottom: 3px;
  font-size: 12px;
  line-height: 12px;
  color: #FF8A00;
  padding-left: 5px;
}

.gallerySpacing {
  /*margin: 40px 0;*/
  margin: 30px 0 10px;
}

.errorMsg {
  color: rgba(0, 0, 0, 0.6);
}

.buttonDialog {
  color: rgb(0, 190, 231) !important;
}

.btnSave:focus {
  background-color: #1eaecd !important;
  /*border: 2px solid #1eaecd !important;*/
}

.btnSave:hover {
  background-color: #1eaecd !important;
  /*border: 2px solid #1eaecd !important;*/
}

.date:focus {
  outline: blue solid 1px;
}

.dateEnd:focus {
  outline: blue solid 1px;
}

.horarioInicial:focus {
  outline: blue solid 1px;
}

.horarioFinal:focus {
  outline: blue solid 1px;
}