.root {
  color: #474747;
  font-size: 18px;
  text-decoration: none;
}

.root:hover {
  background-color: #F8F8F8;
}

.divIcons {
  float: right;
}

.icon {
  font-size: 24px;
  vertical-align: bottom;
  color: #797779;
  margin-left: -5px;
  margin-right: 4px;
  cursor: pointer;
}

.icon:last-child {
  margin-left: 18px;
}

.separator {
  background-color: #d4d3d3;
  height: 1px;
  border: 0;
  margin: 0 15px;
}

.notFound {
  font-size: 22px;
  margin: 20px 25px;
}

.printBlock {
  display: none;
}

@media print {
  .committees {
    display: none;
  }

  .separator {
    display: block;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #E8E8E8;
  }

  .root {
    break-inside: avoid !important;
    display: block;
    width: 1024px;
  }
  .printBlock {
    display: block;
    width: 100%;
  }
}
