.page {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #3E92B7;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 16px;
  padding-top: 2px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  margin-right: 15px;
  text-align: center;
}

.pageActive {
  background-color: #fff;
  color: #3E92B7;
  border: 2px solid #3E92B7;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  text-align: center;
  position: relative;
  font-size: 16px;
  padding-top: 2px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover, button:active, button:visited, button:focus {
    text-decoration:none;
    outline: none;
}
