.formBg {
  /*background-color: #FFF;*/
  /*max-width: 820px;*/
  height: 100%;
  width: 100%;
  /*box-shadow: 0px 0px 10px 0px #C3C3C3;*/
  margin: 0 auto;
  padding: 8px 16px;
  box-sizing: border-box;
  /*color: #000;*/
  /*border-radius: 10px;*/
}

.bottom {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 5px;
}

.title {
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  color: #484848;
  margin-bottom: 8px;
  margin-top: 5px;
}

.container {
  width: 500px;
  margin: 0 auto;
}
