.actions {
  display: inline-block;
  /*padding: 10px 32px;*/
  color: white;
  border-left: 1px solid #82bace;
}

.actions:first-child {
  border-left: none;
}

.qtd {
  font-size: 96px;
  font-weight: 300;
  text-align: center;
}

.text {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
}

.divider {
  width: 70px;
  height: 3px;
  background-color: white;
  opacity: .3;
  border: 0;
  margin-bottom: 15px;
}
