.root {
  width: 100%;
  padding: 30px 20px 12px;
  background-color: #F9F9F9;
  margin-top: -30px;
}

.link {
  text-decoration: none;
}

.filter {
  padding-right: 20px;
  width: 350px;
  display: inline-block;
  vertical-align: top;
}

.filterBorder {
  border-radius: 5px;
  padding: 16px 15px;
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  background-color: #fff;
}

.actions {
  display: inline-block;;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  width: calc(100% - 350px);
  padding: 0 0 30px;
}

.notFound {
  font-size: 22px;
  margin: 20px 25px;
}

.circular {
  text-align: center;
  margin: 30px 0;
}

.menuStyle {
  color: gray;
  margin-bottom: -20px;
}

.buttonAdd {
  text-align: right;
}

.printBlock {
  display: none;
}

@media only screen and (max-width: 1024px) {

  .root {
    font-size: 16px;
    padding: 10px 8px 15px;
  }

  .box {
    padding-left: 20px;
  }

  .actions {
    width: calc(100% - 320px);
  }

  .filter {
    width: 320px;
    padding-right: 16px;
  }
}

@media print {
  .printBlock {
    display: block;
    page-break-after: auto;
  }
}
