.PillButtonAnimated {
  text-align: center;
  text-decoration: none;
  cursor:pointer;
  display: inline-block;
  font-size: 22px;
  word-break: normal;
  position: relative;
  width: 190px;
  height: 45px;
}

.PillButtonAnimated:focus {
  outline: none;
}

.bg {
  background-color: #3EA3B5;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 35px;
  position: relative;
}

.bg svg {
  color: #FFF;
  font-size: 24px;
  /*-moz-transform: translate(0%, -30%);*/
  
}

.holderSvg {
  opacity: 0;
  transform: translate(35%, -45%);
  position: absolute;
  left: 0%;
  top: 50%;
}

.bgShrunken {
  width: 23%;
  margin-left: -15px;
  transition: width 0.5s, margin-left 0.5s;
}

.bgShrunken div {
  opacity: 1;
  transition: opacity 0.5s;
  /*overflow: visible;*/
}

.bgFull {
  width: 100%;
  margin-left: 0;
  transition: width 0.5s;
}

.bgFull svg{
  opacity: 0;
  transition: opacity 0.5s;
}

.text {
  position: absolute;
  display: block;
  z-index: 2;
  color: #FFF;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textRight {
  left: 58%;
  color: #569CA8;
  transition: left 1s, color 0.5s;
}

.textCenter {
  left: 50%;
  color: #FFF;
  transition: left 1s, color 0.5s;
}
