.headerPillButton {
  float: left;
  position: relative;
}
.headerContent {
  composes: Grid Grid--withGutter Grid--alignMiddle from global;
  padding: 0 20px;
}

.headerBoxPillButton {
  float: right;
  padding-top: 10px;
}

.headerBoxLogo {
  height: 100px;
  width: 200px;
  margin: 5%;
}
