.filterLeader {
  background-color: #FFF;
  width: 330px;
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  margin-right: 20px;
  padding: 16px 25px;
  box-sizing: border-box;
  color: #484848;
  display: inline-block;
  position: relative;
  vertical-align: top;
  border-radius: 10px;
}

.filterLeaderText {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
}

.contentLeader {
  background-color: #FFF;
  height: 100%;
  width: calc(100% - 350px);
  box-shadow: 0px 0px 10px 0px #C3C3C3;
  margin: 0 auto;
  padding: 30px 0;
  box-sizing: border-box;
  color: #484848;
  display: inline-block;
  border-radius: 10px;
}

.contentLeaderTitle {
  /*margin-bottom: 15px;*/
  margin-top: 8px;
  line-height: 35px;
  font-size: 28px;
  color: rgb(102, 102, 102);
}

.contentLeaderBottom {
  border-bottom: 2px solid #EBE9EB;
  max-height: 55px;
  margin: 0 30px !important;
}

.separator {
  background-color: #EBE9EB;
  height: 2px;
  border: 0;
  margin: 0;
}


@media screen and (max-width: 1024px) {
  .filterLeader {
    width: 320px;
    margin-right: 10px;
    margin-top: 5px;
  }
  .contentLeader {
    width: calc(100% - 337px);
    margin: 0 0 0 15px;
    margin-top: 5px;
  }
}
