.breadcrumb {
  width: 100%;
  padding: 10px 25px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(198, 198, 198,0.42);
  -moz-box-shadow: 0px 4px 5px 0px rgba(198,198,198,0.42);
  box-shadow: 0px 4px 5px 0px rgba(198, 198, 198, 0.42);
  margin-bottom: 6px;
}

@media screen and (max-width: 1024px) {
  .filter {
    margin-bottom: 1px;
  }
}
