.body {
  color:#484848 !important;
  padding: 26px 24px 0 !important;
  min-height: 170px;
  text-align: center;
  position: relative;
}

.container h3 {
  display: none;
}

.btn {
  margin-top: 0;
  padding: 8px 10px !important;
}

.btn button {
  color: #00BEE7 !important;
}

.btn button:first-child {
  float: left;
}

.btnOnly {
  text-align: center !important;
}

.btnOnly button {
  color: #00BEE7 !important;
}

.separator {
  position: absolute;
  width: 90%;
  right: -10px;
  left: -10px;
  bottom: -9px;
}

.icon {
  display: block;
  margin: 0 auto 16px;
  font-size: 70px;
}

.iconDelete, .iconWarning {
  composes: icon;
  fill: #FF8C45;
}

.iconSuccess {
  composes: icon;
  fill: #00BEE7;
}

.msg {
  word-wrap: break-word;
  margin-bottom: 10px;
}
