.page {
  width: 16px;
  height: 32px;
  border-radius: 100%;
  background-color: transparent;
  color: #00BEE7;
  text-align: center;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  margin-right: 15px;
  text-align: center;
}

.pageActive {
  color: #FFF;
  background-color: #00BEE7;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  text-align: center;
  position: relative;
  font-size: 16px;
  cursor: pointer;
  margin-right: 5px;
}

.arrow {
  color: #707070;
  width: 16px;
  font-weight: 500;
  text-align: center;
  font-size: 26px;
}

.arrow:disabled {
  color: #979797;
}

.arrowLeft {
  margin-right: 5px;
}

button:hover, button:active, button:visited, button:focus {
  text-decoration:none;
  outline: none;
}

button:focus {
  border: 0;
}
