.root {
  color: #474747;
  font-size: 18px;
  margin: 0 16px;
  padding: 25px 15px 0;
}

.root:hover {
  background-color: #F8F8F8;
}

.divIcons {
  float: right;
}

.icon {
  font-size: 24px;
  vertical-align: bottom;
  color: #797779;
  margin-left: -5px;
  margin-right: 4px;
  cursor: pointer;
}

.icon:last-child {
  margin-left: 18px;
}

.separator {
  height: 1px;
  border: 0;
  padding-top: 25px;
  margin: 0 -15px;
  border-bottom: solid 1px #ebe9eb;
}

.info {
  width: 80%;
  display: inline-block
}

.name {
  font-size: 18px;  
  color: #00bee7;
}

.edit {
  width: 20%;
  display: inline-block;
  font-size: 16px;
  color: #484848;
  text-align: right;
}

.address {
  font-size: 16px;
  color: #484848;
}

.link {
  text-decoration: none;
}

@media print {
  .containerBox {
    width: 100% !important;
    display: block !important;
    page-break-after: always !important;
  }

  .link {
    display: block !important;
  }

  .root {
    width: 100% !important;
    display: block !important;
  }
}
