.wrapperFilter {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 70px;
}

.text {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  margin-bottom: 8px;
}

.containerCheckbox {
  margin-bottom: 22px;
}

.textSelect {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  margin-bottom: -7px;
}

.boxText {
  display: inline-block;
  width: 50%;
  padding-right: 18px;
}

.boxTextRight {
  display: inline-block;
  width: 50%;
  padding-right: 0;
  padding-left: 18px;
}

.title {
  font-size: 28px;
  color: rgb(102, 102, 102);
}

.separator {
  margin-bottom: 15px;
  margin-top: 0;
  border: 0;
  background-color: #EBE9EB;
  height: 2px;
}

.iconSearch {
  position: absolute;
  transform:rotateY(180deg);
  font-size: 18px;
  fill: #777777;
  top: 26px;
  left: 0;
}

.btn {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 5px;
  bottom: 0;
  background-color: #FCFCFC;
}
