.buttonFill {
  composes: btnDefault from global;
  color: #fff;
  background-color: #00bee7;
}

.buttonFill:hover {
  background-color: #1eaecd;
}

.buttonFill:active {
  background-color: #44c6e2;
}

.buttonFill:disabled {
  color: #c5c5c5;
  background-color: #949393;
}

.buttonStroke {
  composes: btnDefault from global;
  color: #00bee7;
  border: 1px solid #00bee7;
  background-color: #fff;
}

.buttonStroke:hover {
  color: #1eaecd;
  border: 1px solid #1eaecd;
}

.buttonStroke:active {
  color: #44c6e2;
  border: 1px solid #44c6e2;
}

.buttonStroke:disabled {
  color: #c5c5c5;
  border: 1px solid #949393;
}

.circular {
  color: #44c6e2;
  text-align: center;
  width: 100% !important;
  min-width: 186px;
}
