.container {
  padding: 30px 30px 0;
}

.bottom {
  border-bottom: 2px solid #EBE9EB;
  /*margin-bottom: 25px;*/
  max-height: 55px;
}

.order {
  margin-bottom: -10px;
  color: #484848;
  font-size: 14px;
}

.iconAdd {
  font-size: 18px;
  color: #fff;
  margin-left: 1px;
  margin-top: 8px;
}

.buttonAdd {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #00BEE7;
  border-radius: 100%;
  height: 34px;
  width: 34px;
  margin: 5px auto 0;
}

.linkAdd {
  padding: 8px 6px 5px;
}

button:focus {
  outline: none;
  border: none;
}

.printIcon {
  font-size: 36px;
  color: #00BEE7;
}