.amount {
  font-size: 48px;
  font-weight: 500;
  color: #484848;
}

.description {
  font-size: 24px;
}

.container {
  line-height: 50px;
  padding-bottom: 40px;
}

.svgIcon {
  color: #E52B25;
  font-size: 73px
}


@media (min-width: 1280px) {
  .amount {
    font-size: 60px;
  }

  .description {
    font-size: 40px;
  }

  .svgIcon {
    font-size: 110px;
  }
}
