.action {
  background: linear-gradient(#44afb6, #4293b6);
  padding: 40px;
  color: #FFF;
}

.action h2 {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 40px;
  font-weight: 300;
}

.action p, button {
  font-size: 22px;
  line-height: 26px;
}

.action div:nth-child(2) {
  text-align: right;
}
