.container {
  padding: 0 5px;
  height: 300px;
}

.container h2 {
  font-size: 30px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #01BEE8;
  padding-top: 10px;
}

.container p {
  color: #656364;
  font-size: 20px;
}

.container button {
  outline: none;
  cursor: pointer;
}

.subTitle {
  margin-bottom: 22px;
}

.description {
  display: block;
  /*display: -webkit-box;*/
  max-width: 100%;
  min-height: 80px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  /*-webkit-line-clamp: 3;
  -webkit-box-orient: vertical;*/
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 14px;
}

.icons {
  composes: u-textCenter from global;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 36px;
  color: #00BEE7;
  position: relative;
  height: 35px;
}

.iconCheck {
  composes: u-textCenter from global;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 36px;
  color: #656364;
  position: relative;
  height: 35px;
}

.iconCheckActive {
  composes: u-textCenter from global;
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 36px;
  color: #3EAFB7;
  position: relative;
  height: 35px;
}

.container span {
  color: #656364;
  font-size: 16px;
}

.buttons {
  margin-bottom: 20px;
  margin-left: -40px;
  margin-top: 15px;
}

.heart {
  cursor: pointer;
  height: 60px;
  width: 100px;
  background-image:url( '/images/like.png');
  background-repeat:no-repeat;
  background-position: left;
  background-size:3000%;
  position: absolute;
  top: -12px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  left: 50%;
  right: 50%;
}

.heartOn {
  background-position: right !important;
}

.buttonHeart:hover .heart {
  background-position: 3.45% 50%;
}

.buttonHeart:hover .iconCheck {
  color: #3EAFB7;
}

.is_animating {
  animation: heart-burst .8s steps(29) forwards;
  animation-fill-mode: forwards;
}

.linkLike {
  position: absolute;
  top: 44px;
  width: 100px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  left: 50%;
  right: 50%;
}

.buttonHeart {
  cursor: pointer;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}

@media only screen and (max-width: 1024px) {

  .buttons {
    margin-left: -30px;
  }
}

/*@media (min-width: 1170px) and (max-width: 1279px){
  .heart {
    right: 8%;
  }
}

@media (min-width: 1280px) and (max-width: 1600px){
  .heart {
    right: 18%;
  }
}

@media (min-width: 1601px) and (max-width: 2000px){
  .heart {
    right: 25%;
  }
}

@media (min-width: 2001px) and (max-width: 2600px){
  .heart {
    right: 28%;
  }
}*/
