h1 {
  font-size: 1.5em;
}
.center div:nth-child(1) {
  margin: 0 auto;
}

.formBg h1 {
  font-size: 26px;
  line-height: 46px;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}

.remember{
  position: absolute;
  right: 13px;
  bottom: 12px;
  color: #fff;
  text-decoration: none;
}

.buttons {
  padding: 20px;
}

.action a {
  color: #fff;
}

.actionBtn{
  margin-bottom: 30px;
}

.icon {
  transform: rotate(90deg);
  width: 35px;
  height: 28px;
  vertical-align: bottom;
  margin-right: 5px;
}

.divAnimation {
  -webkit-animation: anim 6s forwards;
  animation: anim 6s forwards;
  text-align: center;
  margin: 5% auto 15%;
}

@-webkit-keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
@keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
