.wrapperFilter {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 70px;
}

.text {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
}

.iconSearch {
  position: absolute;
  transform:rotateY(180deg);
  font-size: 18px;
  fill: #777777;
  top: 26px;
  left: 0;
}

.btn {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 5px;
  bottom: 0;
  background-color: #FCFCFC;
}

.pillButton {
  font-size: 16px !importante;
}
