.rootNewAction {
  width: 100%;
}

.divNewAction {
  width: 40%;
  margin: 0 auto;
}

.textFieldNome {
  margin-bottom: 20px;
}

.labelModalidade {
  transform: scale(0.79) translate(-67px, 0px);
  font-size: 17px;
  color: #707070;
  margin-bottom: 0px;
  display: block;
  margin-left: 24px;
}

.toggleMaterial {
  margin-bottom: 20px;
}

.divPill {
  margin-top: 15px;
  margin-bottom: 30px;
  position: relative;
}

.divPill > div {
  margin: 0 auto;
}

.divPill > div.backButton {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.delete {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0 !important;
}

.register {
  max-height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.ml {
  margin-left: 36px !important;
}
