.wrapperFilter {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 70px;
  max-height: 80vh;
}

.text {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
}

.containerCheckbox {
  margin-bottom: 22px;
}

.textSelect {
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  margin-bottom: -7px;
}

.boxText {
  display: inline-block;
  padding-right: 18px;
}

.boxTextRight {
  display: inline-block;
  width: 50%;
  padding-right: 0;
  padding-left: 18px;
}

.title {
  font-size: 28px;
  color: rgb(102, 102, 102);
}

.separator {
  margin-bottom: 15px;
  margin-top: 0;
  border: 0;
  background-color: #EBE9EB;
  height: 2px;
}

.date {
  width: 130px;
  position: relative;
  display: inline-block;
  padding-right: 18px;
}
.date:last-child {
  padding-right: 0;
  padding-left: 20px;
}

.iconDate {
  position: absolute;
  right: 14px;
  top: 30px;
  font-size: 28px;
  cursor: pointer;
}

.iconSearch {
  position: absolute;
  transform:rotateY(180deg);
  font-size: 18px;
  fill: #777777;
  top: 26px;
  left: 0;
}

.iconDateLast {
  position: absolute;
  right: 5px;
  top: 30px;
  font-size: 28px;
  cursor: pointer;
}

.btn {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 5px;
  bottom: 0;
  background-color: #FCFCFC;
  z-index: 5;
  box-shadow: -18px 4px 20px rgba(0,0,0,0.5);
  padding: 15px 0;
  margin-left: -16px;
  width: calc(100% + 32px);
}

@media only screen and (max-width: 1024px) {
  .iconSearch {
    left: 5px;
  }
}
