.action a {
  color: #fff;
}

.buttonBox {
  margin-bottom: 20px;
}

.button {
  color: rgb(0, 190, 231) !important;
}

.buttons {
  padding: 20px;
}

.message {
  padding: 0px 0px 25px 0px;
  color: #fef384;
  font-style: italic;
}
