.ballsYellow {
  box-shadow: 0px 3px 8px 1px rgb(155, 155, 155);
  border-radius: 100%;
  position: absolute;
  top: 68%;
  left: -5%;
  z-index: -1;
  opacity: 0.8;
}

.ballsGreen {
  box-shadow: 0px 3px 8px 1px rgb(155, 155, 155);
  border-radius: 100%;
  position: absolute;
  top: 72%;
  left: 70%;
  z-index: -1;
  opacity: 0.8;
}
