.card {
  padding: 20px !important;
  position: relative;
  font-style: italic;
  text-align: center;
  color: #484848;
  background-color: #FFF;
  display: inline-block;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}

.header {
  font-size: 32px !important;
  margin-bottom: 5px !important;
}

.body {
  font-size: 18px !important;
  margin-bottom: 5px !important;
}

.footer {
  padding: 0 50px 0 50px !important;
  font-size: 18px !important;
}
