.landingFooter {
  background: linear-gradient(#44afb6, #4293b6);
  padding: 40px;
  color: #FFF;
}

.landingFooter h2 {
  margin-bottom: 20px;
  font-size: 38px;
  line-height: 36px;
  font-weight: 300;
}

.landingFooter p, button {
  font-size: 22px;
  line-height: 26px;
}

.landingFooter div:nth-child(2) {
  text-align: right;
}

@media (min-width: 768px ) {

  .landingFooter button {
    margin: 0 20px 10px 0;
    word-break: normal !important;
  }
}

@media (max-width: 425px ) {

  .landingFooter div:nth-child(2) {
    margin-top: 20px;
    text-align: center;
  }

  .landingFooter button {
    margin: 0 10px 10px 0;
  }
}
