.icons {
  composes: u-textCenter from global;
  top: -3px;
  display: block;
  width: 80px;
  margin-bottom: 5px;
  font-size: 36px;
  color: #ED542F;
  position: absolute;
  height: 35px;
  overflow: visible;
}

.likeTxt {
  padding-left: 50px;
  vertical-align: sub;
}

.heart:hover {
  background-position: 3.45% 50%;
}

.heart {
  cursor: pointer;
  height: 60px;
  width: 100px;
  background-image:url( '/images/like.png');
  background-repeat:no-repeat;
  background-position: left;
  background-size:3000%;
  position: absolute;
  top: -8px;
  right: 0px;
}

.heartB {
  vertical-align: top;
}

.textB {
  margin-left: -75px;
  z-index: 3;
  padding: 10px;
  position: relative;
}

.heartOn {
  background-position: right !important;
}

.is_animating {
  animation: heart-burst .8s steps(29) forwards;
  animation-fill-mode: forwards;
}

.heartAlt {
  min-height: 40px;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
