.body {
  background: #1ba4d9;
  color: #fff;
  width: 25%;
  max-width: 25%;
  height: 40%;
  padding: 15px 10px;
  position: relative;
  border: 1px solid;
}

.ident {
  width: 10%;
  float: left;
  margin: 8px 5px 8px 0;
  color: #707070;
  border: 1px solid;
}

.title {
  font-size: 34px;
  padding-bottom: 10px;
}

.text {
  font-size: 16px;
  text-align: justify;
  line-height: 130%;
}
