.Avatar {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #fff;
}

.divAvatar {
  display: inline-flex;
  margin-right: 10px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  font-size: 16px;
  margin-left: 7px;
  transform: rotate(90deg);
  fill: #fff;
  color: #fff;
}

.iconList {
  fill: #0abce5;
  color: #0abce5;
}

.avatarMenuIcon {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.p {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin: auto;
}

.avatarMenuIcon > button {
  width: 70px !important;
  font-size: 16px !important;
  padding: 0 !important;
  display: inline-flex !important;
  height: 100% !important;
}
