.containerFormBg {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.formBg {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  font-size: 20px;
  flex: 1 0 auto;
}

.texto > h1, h2 {
  font-size: 42px;
  line-height: 46px;
  margin: 3% auto;
}

.texto > h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 0;
}

.formBg button {
  box-shadow: 0px 2px 2px 0px #027b96;
}

.formBg button:disabled {
  background-color: #7fdef2 !important;
}

.inputSpinner {
  position: relative;;
  height: 100px;
}

.loading {
  position: absolute;
  top: -11.5%;
  left: 69%;
  z-index: 1;
}

.circular {
  margin-left: -55px !important;
  color: #fff !important;
}

.buttons {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 46px;
}

.icon {
  transform: rotate(90deg);
  /*width: 35px;
  height: 28px;*/
  font-size: 28px;
  vertical-align: bottom;
  margin-right: 5px;
}

.btnBack {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.divAvatar {
  width: 210px;
  margin: auto;
}

.divAnimation {
  -webkit-animation: anim 6s forwards;
  animation: anim 6s forwards;
  text-align: center;
}

@-webkit-keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}

@keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
