.headerBoxLogo {
  height: 100px;
  width: 200px;
  margin: 19.656px 0 0 40px;
}

.container {
  background-image: url('/images/bg-landing-cta.png');
  composes: Grid-cell from global;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  position: relative;
}

.logo {
  margin-bottom: 30px;
}

.LandingCTATeste {
  composes: Grid Grid--withGutter Grid--alignCenter from global;
  position: relative;
  min-height: 664px;
}

.Text {
  color: #484848;
  font-size: 24px;
  text-align: center;
}

.texto {
  margin-bottom: 32px;
}

.Nome {
  color: #484848;
  font-size: 24px;
  text-align: center;
  margin-bottom: 28px;
}

.Nome span {
  text-transform:capitalize;
}

.confetti {
  opacity: 1;
  width:100%;
  height:100%;
  position: fixed;
  z-index: 2;
}

.confettiAnim {
  z-index: -1 !important;
  opacity: 0 !important;
  animation: fadeout 2s;
  -moz-animation: fadeout 2s; /* Firefox */
  -webkit-animation: fadeout 2s; /* Safari and Chrome */
  -o-animation: fadeout 2s; /* Opera */
}

@keyframes fadeout {
  from {
      opacity:1;
      z-index: 2;
  }
  to {
      opacity:0;
      z-index: -1;
  }
}
@-moz-keyframes fadeout { /* Firefox */
  from {
      opacity:1;
      z-index: 2;
  }
  to {
      opacity:0;
      z-index: -1;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
      opacity:1;
      z-index: 2;
  }
  to {
      opacity:0;
      z-index: -1;
  }
}
@-o-keyframes fadeout { /* Opera */
  from {
      opacity:1;
      z-index: 2;
  }
  to {
      opacity:0;
      z-index: -1;
  }
}

.AvatarBox {
  composes: Grid-cell u-size4of12 u-textCenter from global;
  position: relative;
  height: 690px;
  margin-top: -5%;
}

.avatar {
  width: 210px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-bottom: 32px;
}

.AvatarButton {
  margin-bottom: -30px;
}

.AvatarButton button {
  position: relative;
  top: -50px;
  left: 55px;
}

.LandingAvatarsLeft {
  composes: Grid-cell u-size4of12 from global;
  overflow: hidden;
  z-index: 2;
  margin: -26px 0 26px;
}

.LandingAvatarsRight {
  composes: Grid-cell u-size4of12 from global;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin: -26px 0 26px;
}

.reverser,
.reverser img {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/;
  float: right;
}

.animationImg {
  -webkit-animation: anim 4s forwards;
  animation: anim 4s forwards;
  position: absolute;
  top: 70%;
}

@-webkit-keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
@keyframes anim {
  0% {
    transform: translateY(100%);
  }
  14.28% {
    transform: translateY(0);
  }
  85.71% {
    transform: translateY(0);
  }
}
