.root {
  composes: Grid from global;
  height: calc(100vh - 258px);
}

.leftBox {
  composes: Grid-cell u-size3of12 from global;
  background-color: rgba(216, 216, 216, 0.08);
  /*background-color: gray;*/
  padding-top: 15px;
  padding-left: 18px;
}

.rightBox {
  composes: Grid-cell u-size9of12 from global;
  padding-top: 15px;
}

.fields {
  padding: 8px 0 24px;
}

.logo {
  margin-bottom: 28px;
}

h1 {
  font-size: 24px;
  margin: 0 auto 8px;
}

.desc {
  max-width: 320px;
  font-size: 16px;
  margin: 0 auto 24px;
}

.radioButton {
  margin-bottom: 10px;
}
