.container {
  padding: 0 25px;
}

.order {
  float: right;
  height: 37px;
}

.separator {
  margin-bottom: 0;
  margin-top: 0;
  border: 0;
  background-color: #cbcbcb;
  height: 1px;
}

.title {
  font-size: 24px;
  color: #484848;
  margin-bottom: 4px;
  margin-right: 18px;
  display: inline-block;
}

.orderTitle {
  color: #484848;
  font-size: 16px;
  display: inline-block;
  margin-top: 3px;
}

.iconAdd {
  font-size: 14px;
  color: #fff;
  margin-left: 5px;
  margin-top: 5px;
}

.buttonAdd {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #00BEE7;
  border-radius: 13px;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 4px;
}

.linkAdd {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: text-bottom;
}

.linkAdd span {
  color:#00BEE7;
  font-size: 14px;
}

.buttonAdd:focus {
  outline: none;
  border: none;
}
