.actions {
  display: inline-block;
  padding: 0 23px 10px;
  color: white;
  border-left: 2px solid #9ED0D9;
  margin-bottom: 30px;
}

.actions:first-child {
  border-left: none;
}

.qtd {
  font-size: 72px;
  font-weight: 300;
}

.text {
  line-height: 31px;
  font-size: 24px;
  font-weight: 300;
}

.divider {
  width: 70px;
  height: 3px;
  background-color: white;
  opacity: .3;
  border: 0;
  margin-bottom: 17px;
}
